Make your very own blob!
<a href="blobs/new">Get Started!</a>

<% @blobs.each do |blob| %>
    
<% end%>

<div id="wrapper">
    <div style="position: absolute">
      <canvas id="canvas"></canvas>
    </div>
</div>