<a href="/">Home</a>
  <div id="wrapper">
    <div style="position: absolute">
      <canvas id="canvas"></canvas>
    </div>
    <div id="name_blob">
      <input type="text" placeholder="Name your blob!" id="name" name="name">
    </div>
    <div id="submit">
      <input type="submit" value="Welcome, Blob!">
    </div>
  </div>

<script>

setCanvas("new_blob");



</script>
