<a href="/">Home</a>
  <div id="wrapper">
    <div style="position: absolute">
      <canvas id="canvas"></canvas>
    </div>
    <div id="display_name">
      <p><%= @blob.name %></p>
    </div>
    <div id="strawberry">
      <img id="strawberry_art" src="http://img3.wikia.nocookie.net/__cb20120409185349/mlp/images/6/62/HappyStudio_Strawberry.png">
    </div>
    <div id="hand">
      <img id="hand_art" src="http://pngimg.com/upload/hands_PNG879.png">
    </div>
  </div>

<script>

setCanvas("view_blob");



</script>
